# Laravel Sail Configuration
WWWGROUP=1000
WWWUSER=1000
APP_PORT=8080
VITE_PORT=5173
SAIL_XDEBUG_MODE=off
SAIL_XDEBUG_CONFIG=client_host=host.docker.internal

# Database (PostgreSQL)
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=secret
FORWARD_DB_PORT=5432

# Redis
FORWARD_REDIS_PORT=6379

# Typesense
FORWARD_TYPESENSE_PORT=8108
TYPESENSE_API_KEY=xyz
TYPESENSE_DATA_DIR=/typesense-data
TYPESENSE_ENABLE_CORS=true

# Minio
FORWARD_MINIO_PORT=9000
FORWARD_MINIO_CONSOLE_PORT=8900